<mat-dialog-content>
    <div class="wpm-container">
        <mat-icon aria-hidden="false" aria-label="keyboard-icon" fontIcon="keyboard"></mat-icon>
        <p>{{data.wpm}} WPM</p>
    </div>
    <div class="accuracy-container">
        <mat-icon aria-hidden="false" aria-label="percent-icon" fontIcon="percent"></mat-icon>

        <p>{{data.accuracy}}% accuracy</p>
    </div>
    <div class="time-container">
        <mat-icon aria-hidden="false" aria-label="timer-icon" fontIcon="timer"></mat-icon>
        <p>{{data.time}} sec</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Restart</button>
</mat-dialog-actions>