<div class='container'>

  <div class="title-container">
    <h1>Speed Typing</h1>
    <mat-progress-spinner [value]="(30-time) * 3.33" [mode]="mode" color="#123c69" diameter="150"
      strokeWidth="6"></mat-progress-spinner>
    <div style="position:relative; top: -83px; left: 1px;">{{time}}s</div>
  </div>

  <div class="game-container">

    <div class="paragraph-container">
      <p [style.marginLeft.%]="marginLeft" id="speedTypingText">
        <span *ngFor="let character of map; let i = index" [style.color]="map[i].color" style="white-space: pre;">
          {{character.char}}
        </span>
      </p>
    </div>

    <div class='input-container'>
      <form id='speedTypingForm'>
        <input type='text' id="speedTypingInput" [(ngModel)]="userInput" (input)="compareInput()" name="typingInput"
          size="100" placeholder="Type to start the game" />
      </form>
    </div>

  </div>

</div>