<div class='container'>

  <div class="title-container">
    <h1>Speed Typing</h1>
    <p>Remaining: {{time}} Seconds</p>
  </div>

  <div class="game-container">

    <div class="paragraph-container">
      <p [style.marginLeft.%]="marginLeft" id="speedTypingText">
        <span *ngFor="let character of map; let i = index" [style.color]="map[i].color" style="white-space: pre;">
          {{character.char}}
        </span>
      </p>
    </div>

    <div class='input-container'>
      <form id='speedTypingForm'>
        <input type='text' id="speedTypingInput" [(ngModel)]="userInput" (input)="compareInput()" name="typingInput"
          size="100" placeholder="Type the sentence above" />
      </form>
    </div>

  </div>

</div>