html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: rgb(218, 184, 169);
}

.title-container {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(160, 57, 87);
}

.game-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-remaining-container {
  display: flex;
  justify-content: center;
}

#speedTypingText {
  transition: margin-left 0.1s ease-in-out;
}


#speedTypingInput {
  font-family: "Montserrat", Helvetica, sans-serif;
  width: 400px;
  border-radius: 30px;
  background-color: #123c69d5;
  outline: none;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 14px 12px;
  text-align: center;
  color: #eee2dc;
  font-weight: bold;
  font-size: 14pt;
  letter-spacing: 0.7px;
  border: none;
  cursor: pointer;
}